services:
  mongo:
    image: mongo:7
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin123
  app:
    image: planeacion/miapp:1.0
    environment:
      MONGO_URI: mongodb://admin:admin123@mongo:27017
    depends_on:
      - mongo
    ports:
      - "4000:4000"
