version: "3.8"

services:
  mongo_db:
    image: mongo:7
    container_name: mongo_db
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - app-network

  backend:
    build: ./backend
    container_name: backend_app
    ports:
      - "4000:4000"
    env_file:
      - ./backend/.env
    depends_on:
      - mongo_db
    networks:
      - app-network

  frontend:
    build:
      context: ./frontend
    container_name: frontend_app
    ports:
      - "3000:80"   # puerto local 3000 -> puerto interno 80 de NGINX
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mongo_data:
